/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

*
{
  margin: 0px;
  padding: 0px;
}

.background--skyBlue {
  background-color: rgb(52, 152, 219);
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--white {
  color: white;
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cardo', serif;
  margin: 0;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}

h4, h5, h6 {
  font-size: 1.9rem;
}

/*
  Helpers
*/

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}

/*
  Header
*/

#header {
    position: fixed;
    top: 0px;
    height: 64px;
    width: 100%;
    background: grey;
    z-index: 99;
}
#body{
  margin-top: 50px;
  height: 3000px;
  overflow: auto;
}


/*
  Sections
*/

.section {
  font-size: 4.2rem;
  min-height: 70vh;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section--alignCentered {
  text-align: center;
}

.section--description {
  font-size: 2.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 60%;
}

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 5rem;
  width: 30rem;
}

.section__exampleWrapper {
  margin-right: 4rem;
  z-index: 1;
}

.section__example {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.section__example:active {
  transition: 0.05s all;
  width: 34rem;
  height: 34rem;
}

.section__exampleTitle{
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.section__exampleImage {
  opacity: 0.25;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
}
/* Menu*/

#menu ul{
  list-style:none;
  padding-left: 1rem;
}

#menu ul li{
    background-color: white;
    border: 1px solid white;
    width: 120px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    float:left;
    position: relative;
    opacity: .89;
}

#menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: block;
}

#menu ul li a:hover {
    background-color: grey;
    color: white;
}

#menu ul ul{
  position: absolute;
  display: none;
}

#menu ul li:hover > ul{
  display: block;

}


.section--social {
  display: inline-block;
  position: fixed;
  line-height: 1rem;
  margin-right: 2rem;
}

.social {
  margin-right: 0.rem;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.scrollmenu {
  display: inline-block;
  float: right;
  line-height: 10rem;
  margin-right: 3rem;
  font-size: 2rem;
}

/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 4rem;
  z-index: 1;
  curson: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__image {
  opacity: 0.2;
}

.modal__description {
  background-color: blue;
  padding-top: 20px
}

.section-cusrom {
  font-size: 25px;
  height: 250px;
}

.about
{
  background-color: blue;
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 20px;
  color: white;
  opacity: .88;
}

.certificates
{
  background-color: blue;
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 20px;
  color: white;
  opacity: .88;
}


.footer{
  font-size: 14px;
  background-color: black;
  color: white;
  height: 150px;
  padding-left: 3rem;
}
